*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: oklch(0.2919 0.0684 278.99);
    --second-color: oklch(0.4126 0.0501 281);
    --tree-color: oklch(0.7445 0.0186 282.42);
    --four-color: oklch(0.6525 0.1171 230.93);
    --five-color: oklch(0.4822 0.0863 240.27);
    --text-color: white;
    --link-color: rgb(212, 212, 240);
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--text-color);
}

body {
    display: grid;
    grid-template-columns: 1fr repeat(10, minmax(min-content, 13rem)) 1fr;
    grid-template-rows: repeat(2, min-content) minmax(40vh, min-content);
    background-color: var(--five-color);

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 1.8rem;

}



ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
}



img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
}