:root {
    --first-color: oklch(0.2919 0.0684 278.99);
    --second-color: oklch(0.4126 0.0501 281);
    --tree-color: oklch(0.7445 0.0186 282.42);
    --four-color: oklch(0.6525 0.1171 230.93);
    --five-color: oklch(0.4822 0.0863 240.27);
    --text-color: white;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1180px;