@use "../utils/variables" as var;

.carosel {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    &__item {
        flex: 0 0 100%;
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
    }

    &__figure {
        position: relative;
        width: 100%;
    }

    &__image {
        width: 100%;
        max-width: 100%;
        height: 100%;
        height: calc(30rem + 10vw);
        object-fit: contain;

        @media screen and (min-width:var.$bp-tablet) {
            height: calc(40rem + 10vw);
        }

        @media screen and (min-width:var.$bp-desktop) {
            height: calc(60rem + 10vw);
        }

    }

    &__caption {
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;

        background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
        text-align: center;
        padding: 5px 0;

        @media screen and (min-width:var.$bp-tablet) {
            font-size: 2.5rem;
        }
    }
}