.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    stroke-width: 0;

}

.icon-logo {
    display: block;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: "Alegreya", 'Bitter';
}

.previous {
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    background-color: transparent;
}

.rotate {
    transform: rotate(180deg);
}

.icon-html,
.icon-css,
.icon-sass,
.icon-figma,
.icon-wordpress,
.icon-filezilla {
    color: rgb(255, 250, 250);
    width: 10rem;
    height: 10rem;
}

.socials {
    width: 5rem;
    height: 5rem;
    color: white;


}