@use"../utils/variables" as var;

.min-menu {
    display: inline-flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:var.$bp-desktop) {
        .min-menu {
            display: none;

            &__checkbox {
                display: none;
            }
        }
    }

    &__line {
        width: 100%;
        height: 10px;
        background-color: white;
        border-radius: 10px;
        z-index: 2;
        cursor: pointer;
        transition: all 0.5s ease;


        &:active {
            width: 0;
            bottom: 0;
            transition: all 1s ease;
        }

        &::before {
            content: "";
            width: 70%;
            height: 10px;
            background-color: white;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 10px;
            transition: all 0.5s ease;
        }

        &:active::before {
            content: "";
            width: 100%;
            top: 50%;
            opacity: 1;
            rotate: 45deg;
            background-color: white;
            height: 10px;
            right: 0;
        }

        &::after {
            content: "";
            width: 70%;
            height: 10px;
            background-color: white;
            bottom: 0;
            position: absolute;
            border-radius: 10px;
            transition: all 0.5s ease;
        }

        &:active::after {
            content: "";
            width: 100%;
            height: 10px;
            rotate: 310deg;
            top: 25px;
            right: 0;
        }

    }

    &__checkbox {
        position: absolute;
        width: 50px;
        height: 50px;
        opacity: 0;
        z-index: 3;

        @media screen and (min-width:var.$bp-desktop) {
            display: none;
        }


    }

    &__checkbox:checked~.header-menu__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--first-color);
    }



}