@use "../utils/variables" as var;

.about {
    &__section {
        @media screen and (min-width:var.$bp-tablet) {
            display: flex;
            align-items: center;
        }

        img {
            border: 2px solid black;
            padding: 2rem 2rem 0;
        }

        figcaption {
            text-align: right;
            font-family: 'Bitter', sans-serif;
            font-weight: 600;
            padding: 1rem;
        }
    }

    &__text {
        flex-basis: 50%;
        padding: 1rem;
        font-size: 2rem;
        line-height: 2;
    }

    &__img {
        flex-basis: 50%;
        box-shadow: 3px 3px 9px 1px black;
        padding: 1rem;
    }
}