@use"../utils/variables" as var;

.connection {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    background-color: var(--first-color);
    padding: 2rem 1.5rem;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px black;

    @media screen and (min-width:var.$bp-mobile) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media screen and (min-width:var.$bp-tablet) {
        flex-direction: row;
        justify-content: space-between;

    }

    &__email,
    &__tel {
        font-size: 2.5rem;
        font-weight: 700;

        @media screen and (min-width:var.$bp-tablet) {
            font-size: 3rem;

        }
    }

    &__tel {
        word-break: keep-all;
        word-wrap: normal;
    }



}