@use "../utils/variables" as var;

.interests {
    @media screen and (min-width:var.$bp-tablet) {
        padding: 2rem 2.4rem;
    }

    &__description {
        font-size: 2rem;
        padding: 1rem 0;

        }

    &__container {

        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        box-shadow: 3px 3px 9px 1px black;
    }

    &__button-previous {
        position: absolute;
        left: 0;
        background-color: transparent;
        width: 50px;
        height: auto;
        z-index: 2;
    }

    &__button-next {
        position: absolute;
        right: 0;
        background-color: transparent;
    }

    &__button-previous,
    &__button-next {
        border: none;
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    &__section {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        overflow: scroll;
        padding: 1rem 0 2rem;
    }
}