.skill {
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

        grid-auto-rows: auto;
        gap: 1rem;
    }

    &__item {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;

        padding: 2rem 0;
        background-color: var(--first-color);
        border-radius: 10px;
        box-shadow: 3px 3px 3px 2px black;

    }

    &__text {
        display: inline-block;
        text-align: center;
        position: relative;
        margin: 0 auto;
        padding: 0.5em 1em;
        font-size: clamp(2.5rem, 2vw, 4rem);
        border-radius: 0.3em;

        width: min-content;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0%;
            width: calc(100% / 2);
            height: calc(100% / 1.5);
            box-shadow: 3px -3px 0px 2px #979BDB;
            border-top-right-radius: 0.4em;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(100% / 2);
            height: calc(100% / 1.5);
            box-shadow: -3px 3px 0px 2px #979BDB;
            border-bottom-left-radius: 0.4em;
        }
    }

    &__image {
        justify-self: center;
        width: 7rem;
    }

    &__description {
        border-radius: 10px;
        text-align: center;
        padding: 1rem 4rem;
        font-size: clamp(1.8rem, 2vw, 2.5rem);
    }

}